<VirtualHost *:80>
   ServerName {{ url }}
   DocumentRoot {{ base_dir }}
   <Directory {{ base_dir }}>
      Require all granted
      AllowOverride All
      Options -Indexes
      RedirectMatch 404 /\.git.*
   </Directory>
   CustomLog /var/log/apache2/{{ url }}.access.log combined
   ErrorLog /var/log/apache2/{{ url }}.error.log
</VirtualHost>

{% if no_www_url is defined %}
<VirtualHost *:80>
    ServerName {{ no_www_url }}
{% if other_url is defined %}
    ServerAlias {{ other_url }}
{% endif %}
    RedirectMatch permanent /(.*) http://{{ url }}/$1
</VirtualHost>
{% endif %}