<?
define('DATABASE_LOGIN','{{db_login}}');//identifiant BDD
define('DATABASE_PASSWORD','{{db_passwd}}');// mot de passe BDD
define('DATABASE_SERVER','127.0.0.1');// serveur BDD
define('DATABASE_NAME','{{db_name}}');// nom BDD

define('SMTP_SERVER', "{{smtp_server | default('127.0.0.1')}}");
define('SMTP_PORT', "{{smtp_port | default('25')}}");

?>